<ion-content
  [style.background]="backgroundStyle"
  style="background-repeat: no-repeat; background-size: cover"
>
  <ion-grid class="content" style="background-color: #00000080">
    <ion-card style="background-color: #00000080; color: white">
      <ion-card-header>
        <ion-card-title>{{quote?.content}}</ion-card-title>
      </ion-card-header>

      <ion-card-content style="text-align: end">
        {{quote?.author}}
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
